{#
This module is adding or deleting vlans on trunk and access port.
Three types of actions for trunk are supported:
    - "init" -- switchport trunk allowed vlan <vlan>. VLANs list will be OVERWRITTEN only with <vlan>.
    - "add" -- switchport trunk allowed vlan add <vlan>. VLAN will be ADDED to the list of existent vlans.
    - "delete" -- switchport trunk allowed vlan remove <vlan>. VLAN will be REMOVED to the list of existent vlans.
#}
    
#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if access_interfaces is defined %}
    {# for each interface getting list of vlans and action type #}
    {% if access_interfaces.trunks is defined %}
        {% for intf, params in access_interfaces.trunks | dictsort -%}
            {% set vlan_list = params.vlans -%}
            {% set action = params.action -%}
            {# initial interface config #}
            !
            interface {{ intf }}
            description host interface
            switchport mode trunk

            {# 
            if there is no add/delete action, we assume that it is initial configuration and list of vlans on trunk will be overwritten.
            case for multiple vlans definition. 
            #}

            {% if vlan_list is iterable -%}
                {% if action == 'add' -%}
                    switchport trunk allowed vlan add {{ vlan_list | join(',') }}
                {% elif action == 'delete' -%}
                    switchport trunk allowed vlan remove {{ vlan_list | join(',') }}
                {% else %}
                    switchport trunk allowed vlan {{ vlan_list | join(',') }}
                {% endif %}
            {% endif %}
            {# unshut interface #}
            no shutdown
        {% endfor %}
    {% endif %}
    
    {% if access_interfaces.access is defined %}
        {# for each interface getting list of vlans and action type #}
        {% for intf, params in access_interfaces.access | dictsort -%}
            {% set vlan_list = params.vlans -%}
            {% set action = params.action -%}
            {# initial interface config #}
            !
            interface {{ intf }}
            description host interface
            switchport mode access
            
            {# 
            if there is no add/delete action, we assume that it is initial configuration and list of vlans on trunk will be overwritten.
            case for multiple vlans definition. 
            #}

            {% if vlan_list is iterable -%}
                {% if action == 'delete' -%}
                    no switchport access vlan {{ vlan_list | join(',') }}
                {% else -%}
                    switchport access vlan {{ vlan_list | join(',') }}
                {% endif %}
            {% endif %}
            {# unshut interface #}
            no shutdown
        {% endfor %}
    {% endif %}
{% endif %}
