{#
This module is configuring the auth configuration.
If action is not set in the configurations, it is "add" by default.
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if site_level_auth_priority and voice_vlan is defined%}
  {% if action is defined and action == 'delete' %}
    template DefaultWiredDot1xClosedAuth
      no dot1x pae authenticator
      no dot1x timeout supp-timeout 7
      no dot1x max-req 3
      no switchport mode access
      no switchport voice vlan 2046
      no mab
      no access-session port-control auto
      no authentication periodic
      no authentication timer reauthenticate server
      no service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
    !
    template DefaultWiredDot1xLowImpactAuth
      no dot1x pae authenticator
      no dot1x timeout supp-timeout 7
      no dot1x max-req 3
      no switchport mode access
      no switchport voice vlan 2046
      no mab
      no access-session port-control auto
      no authentication periodic
      no authentication timer reauthenticate server
      no service-policy type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_1X_MAB
    !
    template DefaultWiredDot1xOpenAuth
      no dot1x pae authenticator
      no dot1x timeout supp-timeout 7
      no dot1x max-req 3
      no switchport mode access
      no switchport voice vlan 2046
      no mab
      no access-session port-control auto
      no authentication periodic
      no authentication timer reauthenticate server
      no service-policy type control subscriber PMAP_DefaultWiredDot1xOpenAuth_1X_MAB
    !
    no template DefaultWiredDot1xClosedAuth
    !
    no template DefaultWiredDot1xLowImpactAuth
    !
    no template DefaultWiredDot1xOpenAuth
    !
    no dot1x system-auth-control
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
      no event authentication-failure match-first
      no event aaa-available match-all
      no event agent-found match-all
      no event inactivity-timeout match-all
      no event authentication-success match-all
      no event violation match-all
      no event authorization-failure match-all
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xClosedAuth_MAB_1X
      no event authentication-failure match-first
      no event aaa-available match-all
      no event agent-found match-all
      no event inactivity-timeout match-all
      no event authentication-success match-all
      no event violation match-all
      no event authorization-failure match-all
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_1X_MAB
      no event authentication-failure match-first
      no event aaa-available match-all
      no event agent-found match-all
      no event inactivity-timeout match-all
      no event authentication-success match-all
      no event violation match-all
      no event authorization-failure match-all
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_MAB_1X
      no event authentication-failure match-first
      no event aaa-available match-all
      no event agent-found match-all
      no event inactivity-timeout match-all
      no event authentication-success match-all
      no event violation match-all
      no event authorization-failure match-all
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xOpenAuth_1X_MAB
      no event authentication-failure match-first
      no event aaa-available match-all
      no event agent-found match-all
      no event inactivity-timeout match-all
      no event authentication-success match-all
      no event violation match-all
      no event authorization-failure match-all
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xOpenAuth_MAB_1X
      no event authentication-failure match-first
      no event aaa-available match-all
      no event agent-found match-all
      no event inactivity-timeout match-all
      no event authentication-success match-all
      no event violation match-all
      no event authorization-failure match-all
    !
    !
    no policy-map type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
    !
    no policy-map type control subscriber PMAP_DefaultWiredDot1xClosedAuth_MAB_1X
    !
    no policy-map type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_1X_MAB
    !
    no policy-map type control subscriber PMAP_DefaultWiredDot1xOpenAuth_1X_MAB
    !
    no policy-map type control subscriber PMAP_DefaultWiredDot1xOpenAuth_MAB_1X
    !
    no class-map type control subscriber match-all AAA_SVR_DOWN_AUTHD_HOST
    !
    no class-map type control subscriber match-all AAA_SVR_DOWN_UNAUTHD_HOST
    !
    no class-map type control subscriber match-all AUTHC_SUCCESS-AUTHZ_FAIL
    !
    no class-map type control subscriber match-all DOT1X
    !
    no class-map type control subscriber match-all DOT1X_FAILED
    !
    no class-map type control subscriber match-all DOT1X_MEDIUM_PRIO
    !
    no class-map type control subscriber match-all DOT1X_NO_RESP
    !
    no class-map type control subscriber match-all DOT1X_TIMEOUT
    !
    no class-map type control subscriber match-any IN_CRITICAL_AUTH
    !
    no class-map type control subscriber match-any IN_CRITICAL_AUTH_CLOSED_MODE
    !
    no class-map type control subscriber match-all MAB
    !
    no class-map type control subscriber match-all MAB_FAILED
    !
    no class-map type control subscriber match-none NOT_IN_CRITICAL_AUTH
    !
    no class-map type control subscriber match-none NOT_IN_CRITICAL_AUTH_CLOSED_MODE
  
  {% else %}
    !
    class-map type control subscriber match-all AAA_SVR_DOWN_AUTHD_HOST
     match authorization-status authorized
     match result-type aaa-timeout
    !
    class-map type control subscriber match-all AAA_SVR_DOWN_UNAUTHD_HOST
     match authorization-status unauthorized
     match result-type aaa-timeout
    !
    class-map type control subscriber match-all AUTHC_SUCCESS-AUTHZ_FAIL
     match authorization-status unauthorized
     match result-type success
    !
    class-map type control subscriber match-all DOT1X
     match method dot1x
    !
    class-map type control subscriber match-all DOT1X_FAILED
     match method dot1x
     match result-type method dot1x authoritative
    !
    class-map type control subscriber match-all DOT1X_MEDIUM_PRIO
     match authorizing-method-priority gt 20
    !
    class-map type control subscriber match-all DOT1X_NO_RESP
     match method dot1x
     match result-type method dot1x agent-not-found
    !
    class-map type control subscriber match-all DOT1X_TIMEOUT
     match method dot1x
     match result-type method dot1x method-timeout
    !
    class-map type control subscriber match-any IN_CRITICAL_AUTH
     match activated-service-template DefaultCriticalVoice_SRV_TEMPLATE
    !
    class-map type control subscriber match-any IN_CRITICAL_AUTH_CLOSED_MODE
     match activated-service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
     match activated-service-template DefaultCriticalVoice_SRV_TEMPLATE
    !
    class-map type control subscriber match-all MAB
     match method mab
    !
    class-map type control subscriber match-all MAB_FAILED
     match method mab
     match result-type method mab authoritative
    !
    class-map type control subscriber match-none NOT_IN_CRITICAL_AUTH
     match activated-service-template DefaultCriticalVoice_SRV_TEMPLATE
    !
    class-map type control subscriber match-none NOT_IN_CRITICAL_AUTH_CLOSED_MODE
     match activated-service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
     match activated-service-template DefaultCriticalVoice_SRV_TEMPLATE
    !
    !
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
     event session-started match-all
      10 class always do-until-failure
       10 authenticate using dot1x retries 2 retry-time 0 priority 10
     event authentication-failure match-first
      5 class DOT1X_FAILED do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
       10 activate service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
       20 activate service-template DefaultCriticalVoice_SRV_TEMPLATE
       30 authorize
       40 pause reauthentication
      20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
       10 pause reauthentication
       20 authorize
      30 class DOT1X_NO_RESP do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      40 class MAB_FAILED do-until-failure
       10 terminate mab
       20 authentication-restart 60
      50 class DOT1X_TIMEOUT do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      60 class always do-until-failure
       10 terminate dot1x
       20 terminate mab
       30 authentication-restart 60
     event aaa-available match-all
      10 class IN_CRITICAL_AUTH_CLOSED_MODE do-until-failure
       10 clear-session
      20 class NOT_IN_CRITICAL_AUTH_CLOSED_MODE do-until-failure
       10 resume reauthentication
     event agent-found match-all
      10 class always do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
     event inactivity-timeout match-all
      10 class always do-until-failure
       10 clear-session
     event authentication-success match-all
     event violation match-all
      10 class always do-until-failure
       10 restrict
     event authorization-failure match-all
      10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
       10 authentication-restart 60
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xClosedAuth_MAB_1X
     event session-started match-all
      10 class always do-until-failure
       10 authenticate using mab priority 20
     event authentication-failure match-first
      5 class DOT1X_FAILED do-until-failure
       10 terminate dot1x
       20 authentication-restart 60
      10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
       10 activate service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
       20 activate service-template DefaultCriticalVoice_SRV_TEMPLATE
       30 authorize
       40 pause reauthentication
      20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
       10 pause reauthentication
       20 authorize
      30 class MAB_FAILED do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
      40 class DOT1X_NO_RESP do-until-failure
       10 terminate dot1x
       20 authentication-restart 60
      50 class DOT1X_TIMEOUT do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      60 class always do-until-failure
       10 terminate mab
       20 terminate dot1x
       30 authentication-restart 60
     event aaa-available match-all
      10 class IN_CRITICAL_AUTH_CLOSED_MODE do-until-failure
       10 clear-session
      20 class NOT_IN_CRITICAL_AUTH_CLOSED_MODE do-until-failure
       10 resume reauthentication
     event agent-found match-all
      10 class always do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
     event inactivity-timeout match-all
      10 class always do-until-failure
       10 clear-session
     event authentication-success match-all
     event violation match-all
      10 class always do-until-failure
       10 restrict
     event authorization-failure match-all
      10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
       10 authentication-restart 60
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_1X_MAB
     event session-started match-all
      10 class always do-until-failure
       10 authenticate using dot1x retries 2 retry-time 0 priority 10
     event authentication-failure match-first
      5 class DOT1X_FAILED do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
       10 activate service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
       20 activate service-template DefaultCriticalVoice_SRV_TEMPLATE
       25 activate service-template DefaultCriticalAccess_SRV_TEMPLATE
       30 authorize
       40 pause reauthentication
      20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
       10 pause reauthentication
       20 authorize
      30 class DOT1X_NO_RESP do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      40 class MAB_FAILED do-until-failure
       10 terminate mab
       20 authentication-restart 60
      50 class DOT1X_TIMEOUT do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      60 class always do-until-failure
       10 terminate dot1x
       20 terminate mab
       30 authentication-restart 60
     event aaa-available match-all
      10 class IN_CRITICAL_AUTH do-until-failure
       10 clear-session
      20 class NOT_IN_CRITICAL_AUTH do-until-failure
       10 resume reauthentication
     event agent-found match-all
      10 class always do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
     event inactivity-timeout match-all
      10 class always do-until-failure
       10 clear-session
     event authentication-success match-all
     event violation match-all
      10 class always do-until-failure
       10 restrict
     event authorization-failure match-all
      10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
       10 authentication-restart 60
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_MAB_1X
     event session-started match-all
      10 class always do-until-failure
       10 authenticate using mab priority 20
     event authentication-failure match-first
      5 class DOT1X_FAILED do-until-failure
       10 terminate dot1x
       20 authentication-restart 60
      10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
       10 activate service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
       20 activate service-template DefaultCriticalVoice_SRV_TEMPLATE
       25 activate service-template DefaultCriticalAccess_SRV_TEMPLATE
       30 authorize
       40 pause reauthentication
      20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
       10 pause reauthentication
       20 authorize
      30 class MAB_FAILED do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
      40 class DOT1X_NO_RESP do-until-failure
       10 terminate dot1x
       20 authentication-restart 60
      50 class DOT1X_TIMEOUT do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      60 class always do-until-failure
       10 terminate mab
       20 terminate dot1x
       30 authentication-restart 60
     event aaa-available match-all
      10 class IN_CRITICAL_AUTH do-until-failure
       10 clear-session
      20 class NOT_IN_CRITICAL_AUTH do-until-failure
       10 resume reauthentication
     event agent-found match-all
      10 class always do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
     event inactivity-timeout match-all
      10 class always do-until-failure
       10 clear-session
     event authentication-success match-all
     event violation match-all
      10 class always do-until-failure
       10 restrict
     event authorization-failure match-all
      10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
       10 authentication-restart 60
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xOpenAuth_1X_MAB
     event session-started match-all
      10 class always do-until-failure
       10 authenticate using dot1x retries 2 retry-time 0 priority 10
     event authentication-failure match-first
      5 class DOT1X_FAILED do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
       10 activate service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
       20 activate service-template DefaultCriticalVoice_SRV_TEMPLATE
       30 authorize
       40 pause reauthentication
      20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
       10 pause reauthentication
       20 authorize
      30 class DOT1X_NO_RESP do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      40 class MAB_FAILED do-until-failure
       10 terminate mab
       20 authentication-restart 60
      50 class DOT1X_TIMEOUT do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      60 class always do-until-failure
       10 terminate dot1x
       20 terminate mab
       30 authentication-restart 60
     event aaa-available match-all
      10 class IN_CRITICAL_AUTH do-until-failure
       10 clear-session
      20 class NOT_IN_CRITICAL_AUTH do-until-failure
       10 resume reauthentication
     event agent-found match-all
      10 class always do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
     event inactivity-timeout match-all
      10 class always do-until-failure
       10 clear-session
     event authentication-success match-all
     event violation match-all
      10 class always do-until-failure
       10 restrict
     event authorization-failure match-all
      10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
       10 authentication-restart 60
    !
    policy-map type control subscriber PMAP_DefaultWiredDot1xOpenAuth_MAB_1X
     event session-started match-all
      10 class always do-until-failure
       10 authenticate using mab priority 20
     event authentication-failure match-first
      5 class DOT1X_FAILED do-until-failure
       10 terminate dot1x
       20 authentication-restart 60
      10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
       10 activate service-template DefaultCriticalAuthVlan_SRV_TEMPLATE
       20 activate service-template DefaultCriticalVoice_SRV_TEMPLATE
       30 authorize
       40 pause reauthentication
      20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
       10 pause reauthentication
       20 authorize
      30 class MAB_FAILED do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
      40 class DOT1X_NO_RESP do-until-failure
       10 terminate dot1x
       20 authentication-restart 60
      50 class DOT1X_TIMEOUT do-until-failure
       10 terminate dot1x
       20 authenticate using mab priority 20
      60 class always do-until-failure
       10 terminate mab
       20 terminate dot1x
       30 authentication-restart 60
     event aaa-available match-all
      10 class IN_CRITICAL_AUTH do-until-failure
       10 clear-session
      20 class NOT_IN_CRITICAL_AUTH do-until-failure
       10 resume reauthentication
     event agent-found match-all
      10 class always do-until-failure
       10 terminate mab
       20 authenticate using dot1x retries 2 retry-time 0 priority 10
     event inactivity-timeout match-all
      10 class always do-until-failure
       10 clear-session
     event authentication-success match-all
     event violation match-all
      10 class always do-until-failure
       10 restrict
     event authorization-failure match-all
      10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
       10 authentication-restart 60
    !
    !
    template DefaultWiredDot1xClosedAuth
     dot1x pae authenticator
     dot1x timeout supp-timeout 7
     dot1x max-req 3
     switchport mode access
     switchport voice vlan {{ voice_vlan }}
     mab
     access-session closed
     access-session port-control auto
     authentication periodic
     authentication timer reauthenticate server
     service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_{{ site_level_auth_priority }}
    !
    template DefaultWiredDot1xLowImpactAuth
     dot1x pae authenticator
     dot1x timeout supp-timeout 7
     dot1x max-req 3
     switchport mode access
     switchport voice vlan {{ voice_vlan }}
     mab
     access-session port-control auto
     authentication periodic
     authentication timer reauthenticate server
     service-policy type control subscriber PMAP_DefaultWiredDot1xLowImpactAuth_{{ site_level_auth_priority }}
    !
    template DefaultWiredDot1xOpenAuth
     dot1x pae authenticator
     dot1x timeout supp-timeout 7
     dot1x max-req 3
     switchport mode access
     switchport voice vlan {{ voice_vlan }}
     mab
     access-session port-control auto
     authentication periodic
     authentication timer reauthenticate server
     service-policy type control subscriber PMAP_DefaultWiredDot1xOpenAuth_{{ site_level_auth_priority }}
    !
    dot1x system-auth-control
    !
  {% endif %}
{% endif %}


