{#
This module is configuring global BGP process and neighbor parameters
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{# initial BGP process configuration #}
router bgp {{ bgp.as_number }}

    {# default bgp parameters configuration #}
    bgp log-neighbor-changes
    bgp router-id interface {{bgp.router_id}}
    no bgp default ipv4-unicast

    {# if multiple-as are used in fabric, default route-target filter should be disabled #}
    {% if bgp.route_target_filter is defined and bgp.route_target_filter == 'disable' %}
        no bgp default route-target filter
    {% endif %}

    {# defining BGP peer session template #}
    template peer-session EVPN-PEER-SESSION
        remote-as 65001
        update-source Lo0

    {# defining BGP peer policy template #}
    template peer-policy LEAF-EVPN-PEER-POLICY
        send-community both

    {# defining BGP RR peer policy template #}
    template peer-policy SPINE-EVPN-PEER-POLICY
        send-community both
        route-reflector-client

    {# BGP neighbors configuration #}
    {% for neighbor in bgp.neighbors%}
        neighbor {{neighbor }} inherit peer-session EVPN-PEER-SESSION

        {# if it is eBGP neighborship, eBGP multihop command is used #}
        {% if bgp.as_number != bgp.neighbors[neighbor].peer_as_number%}
            neighbor {{ neighbor }} ebgp-multihop 255
        {% endif %}
    {% endfor %}