{#
This module configures MSDP peering
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if underlay_config_type == 'green_field_ipv4' or underlay_config_type == '' or underlay_config_type == 'green_field_dual_stack' %}
  {% for index,idata in msdp.items() %}
      !
      ip msdp peer {{ idata.peer_ip }} connect-source {{ idata.source_interface }} remote-as {{ idata.remote_as }}
      ip msdp cache-sa-state
  {% endfor %}

{% elif underlay_config_type == 'downgrade_to_ipv6' %}
  {% for index,idata in msdp.items() %}
      !
      no ip msdp peer {{ idata.peer_ip }} connect-source {{ idata.source_interface }} remote-as {{ idata.remote_as }}
      no ip msdp cache-sa-state
  {% endfor %}
{% endif %}
