{#
This module configures underlay OSPF process and interfaces.
Default OSPF network type in underlay is P2P for speeding up the convergence time.
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{# configure ospf under interface and set ospf interface P2P if not loopback #}
{% for interface in interfaces%}
    interface  {{ interface }}
    {% if interfaces[interface].loopback == 'no'%}
        ip ospf network point-to-point
    {% endif %}
    ip ospf 1 area 0
{% endfor %}

{# configure ospf process and ospf router-id #}
router ospf 1
    router-id {{ ospf.router_id }}