{#
This module configures overlay interfaces
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if overlay_interfaces is defined %}
    {% for intf in overlay_interfaces %}
    
        {% if underlay_config_type == 'green_field_ipv4' or underlay_config_type == '' %}
          {% if ((ovrl_intf_cli is defined and intf in ovrl_intf_cli) or (ovrl_intf_cli is not defined)) %}
          {# Checking an action for the vlan - action_vlan. #}
          {% set action = overlay_interfaces[intf].action | default ('add') %}
              !
              interface {{ intf }}
              {% if action == 'delete' -%}
                  no vrf forwarding {{ overlay_interfaces[intf].vrf }}
              {% elif action == 'add' %}
                  vrf forwarding {{ overlay_interfaces[intf].vrf }}
                  ip address {{ overlay_interfaces[intf].ip_address }} {{ overlay_interfaces[intf].subnet_mask }} 
                  {% if overlay_interfaces[intf].ipv6 is defined %}
                      ipv6 enable
                      {% for ipv6_addr in overlay_interfaces[intf].ipv6 %}
                          ipv6 address {{ipv6_addr}}
                      {% endfor %}
                  {% endif %}
                  {% set pim_enable = overlay_interfaces[intf].pim_enable | default('no') %}
                  {% if pim_enable == 'yes' %}
                      ip pim sparse-mode
                  {% endif %}
              {% endif %}
              no shutdown
          {% endif %}
          
        {% elif underlay_config_type == 'green_field_ipv6' or underlay_config_type == 'brown_field_dual_stack' %}
          {% if ((ovrl_intf_cli is defined and intf in ovrl_intf_cli) or (ovrl_intf_cli is not defined)) %}
          {# Checking an action for the vlan - action_vlan. #}
          {% set action = overlay_interfaces[intf].action | default ('add') %}
              !
              interface {{ intf }}
              {% if action == 'delete' -%}
                  no vrf forwarding {{ overlay_interfaces[intf].vrf }}
              {% elif action == 'add' %}
                  vrf forwarding {{ overlay_interfaces[intf].vrf }}
                  ipv6 address {{ overlay_interfaces[intf].ipv6_address }}
              {% endif %}
              no shutdown
          {% endif %}
          
        {% elif underlay_config_type is defined and underlay_config_type == 'green_field_dual_stack' %}
          {% if ((ovrl_intf_cli is defined and intf in ovrl_intf_cli) or (ovrl_intf_cli is not defined)) %}
          {# Checking an action for the vlan - action_vlan. #}
          {% set action = overlay_interfaces[intf].action | default ('add') %}
              !
              interface {{ intf }}
              {% if action == 'delete' -%}
                  no vrf forwarding {{ overlay_interfaces[intf].vrf }}
              {% elif action == 'add' %}
                  vrf forwarding {{ overlay_interfaces[intf].vrf }}
                  ip address {{ overlay_interfaces[intf].ip_address }} {{ overlay_interfaces[intf].subnet_mask }} 
                  ipv6 address {{ overlay_interfaces[intf].ipv6_address }}
              {% endif %}
              no shutdown
          {% endif %}
        
        {% elif underlay_config_type is defined and underlay_config_type == 'downgrade_to_ipv4' %}
          {% if ((ovrl_intf_cli is defined and intf in ovrl_intf_cli) or (ovrl_intf_cli is not defined)) %}
              !
              interface {{ intf }}
              {% if overlay_interfaces[intf].ipv6_address is defined %}
                no ipv6 address {{ overlay_interfaces[intf].ipv6_address }}
              {% endif %} 
              no shutdown
          {% endif %}
        
        {% elif underlay_config_type is defined and underlay_config_type == 'downgrade_to_ipv6' %}
          {% if ((ovrl_intf_cli is defined and intf in ovrl_intf_cli) or (ovrl_intf_cli is not defined)) %}
              !
              interface {{ intf }}
              {% if ((overlay_interfaces[intf].ip_address is defined) and (overlay_interfaces[intf].subnet_mask is defined)) %}
                no ip address {{ overlay_interfaces[intf].ip_address }} {{ overlay_interfaces[intf].subnet_mask }}
              {% endif %} 
              no shutdown
          {% endif %}
          
        {% endif %}
    {% endfor %}
{% endif %}
