{#
This module enable/disable PIM on the interfaces for incremetal TRM add/delete
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% set action = trm_action | default ('add') %}
{% if action == 'delete' %}
      {% set prefix = 'no' %}
{% elif action == 'add' %}
      {% set prefix = '' %}
{% endif %}

{% if svis is defined %}
      {% for svi in svis %}
            interface Vlan{{svi}}
                  {{ prefix }} ip pim sparse-mode
      {% endfor %}
{% endif %}
