{#
This module is configuring, deleting or modifing vrf configuration.
If action is not set in the configurations, it is "add" by default.
RD is excluded from the automaton as it is very sensitive paramiter and is not being changed ususally.

Note: after deleting vrf, respective subsection for vrf under bgp will be deleted. No additional actions are needed. 
#}

#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% if vrfs is defined %}
    ! VRF block
    {% for vrf in vrfs %}
        {# Checking an action for all vrf #}
        
        {% set action = vrfs[vrf].action | default ('add') %}
        {% if action == 'delete' %}
            !
            no vrf definition {{vrf}}
        {% elif action == 'add' %}
            {# Configuring basic vrf definition #}
            !
            vrf definition {{ vrf }}
            {% if vrfs[vrf].description is defined %}
                description {{ vrfs[vrf].description }}
            {% endif %}

            rd {{ vrfs[vrf].rd }}

            {% for af in vrfs[vrf].afs %}
                !
                address-family {{ af }}

                {# RT import section #}
                {% for rti in vrfs[vrf].afs[af].rt_import %}
                    route-target import {{ rti }}
                {% endfor %}

                {# RT export section #}
                {% for rte in vrfs[vrf].afs[af].rt_export %}
                    route-target export {{ rte }}
                {% endfor%}

            {% endfor %}             
        {% endif %}
    {% endfor %}
{% endif %}
